<p>bike-list works!</p>
<h2>List</h2>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Mode</th>
            <th>Price</th>
            <th>Serial</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of bikesList" >
            <td>{{item.id}}</td>
            <td>{{item.model}}</td>
            <td>{{item.price}}</td>
            <td>{{item.serial}}</td>
        </tr>
    </tbody>
</table>